doctype 5
html
	head
		title= title
		
		link(rel='stylesheet', href='/css/jasny-bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')

		link(rel='stylesheet', href='/css/icon/fugue.min.css')
		link(rel='stylesheet', href='/css/icon/elusive.min.css')
		link(rel='stylesheet', href='/css/icon/font-awesome.min.css')

		link(rel='stylesheet', href='/css/default.min.css')
		link(rel='stylesheet', href='/css/default.responsive.min.css')

		link(rel='stylesheet', href='/css/plugins/jquery.chocolat.css')
		link(rel='stylesheet', href='/css/jui/jquery.ui.min.css')

		script(src='/js/vendors/modernizr-2.6.2.min.js')
		
	body.body5
		//- .boxed
		div#wrapper
			div.pattern7#wrapper-inner
				include main-header
				include sidebar
				block main-content-block
		//- block content

		// script(src='/js/jquery-1.8.3.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')

		script(src='/js/plugins/jquery.chocolat.min.js')
		//- Site
		script(src='/js/jasny-bootstrap.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/plugins/jquery.placeholder.min.js')
		script(src='/js/application.js')
		block scripts