div#main-header
	div.container-fluid
		div.row-fluid
			div.span12
				div.title
					h1 DATA-FM
						small v1.0
				div.header-panel
//- <div class="header-panel">
//- 									<div id="dropdown-patterns" class="dropdown" rel="tooltip" data-placement="left" data-original-title="Theme Setting">
//- 										<a href="#" class="menu dropdown-toggle" data-toggle="dropdown"><i class="icon iconfa-cog"></i></a>
//- 										<div class="dropdown-menu pull-right" role="menu">
//- 											<div class="title">Inner Content Pattern</div>
//- 											<ul class="patterns">
//- 												<li class="pattern1" data-menu="wrapperpattern"></li>
//- 												<li class="pattern2" data-menu="wrapperpattern"></li>
//- 												<li class="pattern3" data-menu="wrapperpattern"></li>
//- 												<li class="pattern4" data-menu="wrapperpattern"></li>
//- 												<li class="pattern5" data-menu="wrapperpattern"></li>
//- 												<li class="pattern6" data-menu="wrapperpattern"></li>
//- 												<li class="pattern7" data-menu="wrapperpattern"></li>
//- 												<li class="pattern8" data-menu="wrapperpattern"></li>
//- 											</ul>
//- 											<hr>
//- 											<div class="title">Admindo Layout</div>
//- 											<div class="btn-group" data-toggle="buttons-radio">
//- 												<button class="btn btn-small" data-layout="default">Default</button> 
//- 												<button class="btn btn-small active" data-layout="boxed">Boxed</button> 
//- 												<button class="btn btn-small" data-layout="fixed">Fixed</button>
//- 											</div>
//- 											<ul class="patterns" style="margin-top:10px">
//- 												<li class="body1" data-menu="bodypattern"></li>
//- 												<li class="body2" data-menu="bodypattern"></li>
//- 												<li class="body3" data-menu="bodypattern"></li>
//- 												<li class="body4" data-menu="bodypattern"></li>
//- 												<li class="body5" data-menu="bodypattern"></li>
//- 												<li class="body6" data-menu="bodypattern"></li>
//- 											</ul>
//- 											<hr>
//- 											<div class="title">Admindo Menu Type</div>
//- 											<div class="btn-group" data-toggle="buttons-radio">
//- 												<button class="btn btn-small active" data-menustyle="fancy">Fancy</button> 
//- 												<button class="btn btn-small" data-menustyle="simple">Simple</button>
//- 											</div>
//- 										</div>
//- 									</div>
//- 									<div id="dropdown-search" class="dropdown">
//- 										<a href="#" class="menu dropdown-toggle" data-toggle="dropdown"><i class="icon iconfa-search"></i></a>
//- 										<div class="dropdown-menu pull-right" role="menu">
//- 											<form>
//- 												<input name="search" type="text" class="span12" placeholder="Enter keyword...">
//- 											</form>
//- 										</div>
//- 									</div>
//- 									<a href="#" class="menu" id="menu-phone" data-menu="mobile"><i class="icon iconfa-tasks"></i></a>
//- 								</div>