div.widget.dark
	div.widget-head
		span.title Rich Table Example

		div.toolbar
			div.btn-group
				a.btn( href="#" , data-toggle="dropdown") With Selected
					span.caret
				ul.dropdown-menu.pull-right(role="menu", aria-labelledby="dLabel")
					li
						a(tabindex="-1",href="#")
							i.icon-eye-open
							| View
					li
						a(tabindex="-1", href="#")
							i.icon-trash
							| Delete
			button.btn
				i.icon-white.icon-cog
				
		div.widget-content.no-padding
			div.widget-content-inner