div.widget.dark
	div.widget-head
		span.title Select
	div.widget-content.no-padding
		div.widget-content-inner
			form.form-horizontal

				div.control-group
					label.control-label Vehicle Name
					div.controls
						input.span12(type='text',placeholder='Vehicel Name')
						span.help-block Please make sure to select the vehicle
				div.row-fluid
					div.control-group.span6
						label.control-label From
						div.controls
							input.span6(type='text',placeholder='Vehicel Name')
					div.control-group.span6
						label.control-label To
						div.controls
							input.span6(type='text',placeholder='Vehicel Name')
				div.form-actions
					button.btn.btn-primary Track it
					button.btn Histrory Track
						
				//- div.control-group
				//- 	label.control-label Options
				//- 	div.controls
				//- 		input.span12(type='text',placeholder='Vehicel Name')
				//- 		span.help-block Please make sure to select the vehicle