div.widget.dark
	div.widget-head
		span.title Last 3 Months Violation Summary
	div.widget-content
		div.widget-content-inner
			div.chart#chart-violation-summary(style='padding: 0px; position: relative;')