		
h3 Summary
div.row-fluid
	div.span3
		div.widget
			div.widget-content
				div.widget-content-inner
					div.chart-summary-icon
						span.icon.iconfa-shopping-cart
						span.title Your Vehicles
						span.value 20
						span.description Items

	div.span3
		div.widget
			div.widget-content
				div.widget-content-inner
					div.chart-summary-icon
						span.icon.iconfa-user
						span.title Violation
						span.value 30
						span.description +10 Today

	div.span3
		div.widget
			div.widget-content
				div.widget-content-inner
					div.chart-summary-icon
						span.icon.iconfa-rss
						span.title Active Vehicles
						span.value 5
						span.description Today

	div.span3
		div.widget
			div.widget-content
				div.widget-content-inner
					div.chart-summary-icon
						span.icon.iconfa-bullhorn
						span.title Distance Travelled
						span.value 1800
						span.description Miles