div.widget.dark
	div.widget-head
		span.title Top 10 Speed Violation Counts
	div.widget-content
		div.widget-content-inner
			table#top_overspeed_table.table.tiny-tables.table-striped.table-bordered(data-responsive='table')
				thead
					tr
						th Vehicle 
						th Count
				tbody
					tr
						td WHV0128
						td 76
					tr
						td WHV0129
						td 58
					tr
						td WHV0187
						td 47
			